{% extends 'user/layout/layout.html.twig' %}

{% block title %}Espace professionnel de Fokus, application d'état des lieux{% endblock %}
{% set page_title %}Programme de la semaine{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div id="agenda_list"
         data-num-society="{{ app.request.session.get('numSociety') }}"
         data-user-id="{{ app.user.id }}"
         data-rights="{{ app.user.rights }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
